* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: linear-gradient(90deg, #f12711, #f5af19);
}
.calculator {
  background: linear-gradient(
    90deg,
    rgb(68, 63, 63) 0.42%,
    rgb(68, 44, 44) 100%
  );
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 2px solid black;
  height: 550px;
  width: 300px;
  border-radius: 16px;
}
